@media (max-width:768px) { /*MEDIAAAAAA QUERYYYYY----------------------------------------------*/ 
        /*CABECERA*/

.tira_superior div {
    display: none;
    
}


.cabecera {
    padding: 0px auto;
    height: 70px;
    background-color: #000;
    justify-content: center;
}

.cabecera .parte-superior {
    justify-content: space-between;
    align-items: center;
}
.cabecera .menubar {
    display: initial;
    position: absolute;

}
.iconos-responsive-mobile {
    display: initial;
}

.cabecera .logo {
    max-width: 200px;
    width: 50%;
    margin-left: 30px;
}
.cabecera .carritox {
    position: initial;
}
.cabecera .search,.login,.carrito,.item-accesos {
    display: none;
}

.iconos-responsive-mobile a {
    margin: 5px;
}

/* FIN CABECERA------------------------------------------------------------------------------------*/

/* BANNER AVISO------------------------------------------------------------------------------------*/
.banner{
    display: none;
}
/* FIN BANNER AVISO------------------------------------------------------------------------------------*/

/*TIPOS DE PC ------------------------------------------------------------------------------------*/
.tipos_pc {
    width: 45%;
    background-color: white;
    margin: 4px;
}

/*FIN DE TIPOS DE PC ------------------------------------------------------------------------------------*/

/*INICIO 2DO BANNER AHORA 12-18 CUOTAS ------------------------------------------------------------------------------------*/
.banner-ahora-12 {
    display: none;
}

/*FIN 2DO BANNER AHORA 12-18 CUOTAS------------------------------------------------------------------------------------*/

/* INICIO BARRA DE NAVEGACION EN LA MITAD DE LA WEB------------------------------------------------------------------------------------*/
.barra-mitad {
    width: 95%;
    margin: 20px auto 20px auto;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,1fr);
}
.barra-mitad img {
    width: 100%;
}
.barra-mitad .barra-mitad-item {
    text-decoration: none;
    color: #6600CC;
    transition: all 400ms;
    width: 100%;
}
.barra-mitad .barra-mitad-item:hover {
    transform: scale(1.2,1.2);
    
}
.barra-mitad .barra-mitad-item h5 {
    font-weight: 700;
    width: 100%;
    font-size: 13px;
}
/* FIN BARRA DE NAVEGACION EN LA MITAD DE LA WEB------------------------------------------------------------------------------------*/

/* INICIO GALERIA------------------------------------------------------------------------------------*/
.contenedor_galeria {
    width: 98%;
}

.galeria .galeria-img {
    display: block;
    width: 96%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0px 1px 3px #ccc;
    transition: all 300ms;
    margin: 10px auto;
}
.galeria .galeria-img:hover {
    box-shadow: 0px 1px 10px #3adf3a , 0px 1px 10px #3adf3a;
}
.galeria .galeria-items {
    flex-wrap: wrap;
    
}
.galeria .galeria-items .galeria-item {
    width: 47%;
    margin-bottom: 10px;
    
}
.galeria .galeria-items .galeria-item img {
    width: 100%;
    border-radius: 6px;
    box-shadow: 0px 1px 2px #ccc;
    transition: all 300ms;
    
}
.galeria .galeria-items .galeria-item img:hover {
    box-shadow: 0px 1px 10px #3adf3a , 0px 1px 10px #3adf3a;
    transition: all 300ms;

}
/* FIN GALERIA------------------------------------------------------------------------------------*/

/* INICIO FELIZ NAVIDAD------------------------------------------------------------------------------------*/
.feliz-navidad {
    border-right: none;
    margin: 10px auto;
}
.feliz-navidad h3 {
    text-align: center;
    font-size: 19px;
    font-weight: 700;
    margin-top: 20px;
}
.feliz-navidad h3 strong {
    display: block;
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: 700;
    margin-bottom: 10px;

}
.temporizador {
    margin: 0px auto;
}
.tiempo {
    font-size: 13px;
    display: block;
    margin-top: -8px;
    color: gray;
    text-align: center;
}
#hora,#minuto,#segundo {
    font-weight: 700;
    color:#01F603;
    margin: 0px;

}

/* FIN FELIZ NAVIDAD------------------------------------------------------------------------------------*/

/* INICIO OWL CAROUSEL------------------------------------------------------------------------------------*/
.contenedor-owl {
    width: 98%;
    height: auto;
    margin: 10px auto;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #eadfdf;

}
.contenedor-owl .feliz-navidad {
    width: 100%;
    height: auto;
    float:none;
}
.contenedor-owl .owl-carousel {
    width: 100%;
    float: none;
}

.logo-owl_carousel {
    width: 80px !important;
    position: absolute;
    left: 10px;
}
.item {
    margin: 5px;
    padding: 8px;
    border-radius: 5px;
    transition: all 200ms;
}
.item:hover {
    box-shadow: 0px 0px 10px #3adf3a , 0px 0px 10px #3adf3a;
}

.imagen {
    position: relative;
}
.imagen  a{
    margin:0px;
}


.descripcion a {
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 5px auto;
    font-size: 15px;
    color: black;
}

.item:hover .descripcion a {
    color: #1bb31b;
}
.precio h4 {
    text-align: center;
    font-weight: bold;
    font-size: 27px;
    color: #01F603;
    text-shadow: 0px 0px 2px #ddd;
}

.precio span {
    display: block;
    color: #333;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}

.precio .boton-item-owl-carousel a {
    display: block;
    text-decoration: none;
    font-weight: 600;
    width: 100%;
    margin: 6px 1px;
    margin-bottom: 5px;
    padding: 8px;
    background-color: #7200FF;
    border-radius: 10px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}
.precio .boton-item-owl-carousel a:hover {
    background-color: #4a03a1;
}
/* FIN CAROUSEL------------------------------------------------------------------------------------*/

/* INICIO POSTER ------------------------------------------------------------------------------------*/
.poster {
    margin: 5% auto;
    width: 90%;

    /*max-width: 430px;*/
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;

}
.caja-poster {
    box-shadow: 0px 0px 2px #ccc,0px 0px 2px #ccc;
    border-radius: 7px;
    transition: all 500ms;
}
.caja-poster:hover {
    box-shadow: 0px 0px 10px #3adf3a , 0px 0px 10px #3adf3a;
}
.caja-poster:hover  a img {
    box-shadow: 0px 0px 5px #3adf3a , 0px 0px 5px #3adf3a;
}
.poster .caja-poster a,.poster .caja-poster a img {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.poster-1 {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}
.poster-2 {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
}
.poster-3 {
    grid-column: 1 / 9;
    grid-row: 2 / 4;
}
.poster-4 {
    grid-column: 5 / 9;
    grid-row: 1 / 2;
}
.poster-5 {
    grid-column: 5 / 9;
    grid-row: 4 / 5;
}
/* FIN POSTER------------------------------------------------------------------------------------*/

/* INICIO MARCAS------------------------------------------------------------------------------------*/

.contenedor-marcas {
    display: none;
}
/* FIN MARCAS------------------------------------------------------------------------------------*/

/* INICIO FOOTER------------------------------------------------------------------------------------*/

.lista-footer-categorias,.lista-footer-marcas,.lista-footer-masbuscado,.lista-footer-ayuda {
    display: none;
}

/* FIN FOOTER------------------------------------------------------------------------------------*/
}

@media screen and (min-width:769px) and (max-width:992px) {
    /*CABECERA*/
.tira_superior {
    background-color: #555555;
    height: 28px;
}
.tira_superior i {
    color: #65BA3C;
    font-size: 14px;
}
.tira_superior a {
    vertical-align: super;
}

.cabecera {
    padding: 0px auto;
    height: 100px;
    background-color: #000;
    justify-content: center;
}

.cabecera .logo {
    max-width: 17%;
    width: 900px;
}


.cabecera .search {
    position: relative;
    right: 0px;
    background-color: white;
    border-radius: 5px;
    width: 40%;
    height: 43px;
    max-width: 600px;
}
.cabecera .search input {
    border:none;
    outline:none;
    width:88%;
    border-radius: 5px;
    padding: 9px 8px 9px 8px ;
    margin-left: 0px;
}
.cabecera .search .boton {
    width: 11%;
    height: 82%;
    margin-top: 0px;
    margin-left: 0px;
    background-color: #04e404;
    color: white;
    margin: 0px 2px 3px 0px
}

.cabecera .login {
    width: 80px;
    margin-right:  0px;   
}
.cabecera .login img {
    width: 100%;
}
.cabecera .carrito {
    position: static;
    display: block;
    width: 70px;
    padding-top: 10px;
}
.cabecera .carrito i,span {
}
/* FIN CABECERA------------------------------------------------------------------------------------*/
}



